# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
.venv/
venv/
env/
.env

# PyInstaller
dist/
build/
*.spec
*.log

# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Entorno local
ABBAMAT_PORTABLE/
ABBAMAT_PORTABLE.rar
Backups_ABBAMAT/
.idea/
.vscode/
.agents/
